<tr class="adjustment">
  <td colspan="6" align='right'><h5><%= type %>: <%= label %>:&nbsp;&nbsp;&nbsp;<strong><%= Spree::Money.new(adjustments.sum(&:amount), :currency => @order.currency) %></strong></h5></td>
</tr>
