// Masthead

.homepage .navbar-default {
    background: transparent;
}

.masthead {
    position: relative;
    padding: 30px 15px;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background: image-url("masthead.jpg");
    background-repeat: no-repeat;
    z-index: 1;
    min-height: 300px;
    background-color: transparent;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out
}


.input-group .form-control.main-search {
    background: none !important;
    border-color: rgba(58, 137, 255, 1);
    border-style: none none solid none;
    border-width: 3px;
    border-radius: 0;
    outline: none;
    color: #1a1a1a;
    padding: 15px 0 0 0;
    box-shadow: none;
    font-weight: 500;
}

/* Placeholder text color for browsers */
.input-group .form-control.main-search::-webkit-input-placeholder {
    color:#666;
}
.input-group .form-control.main-search:-moz-placeholder {
    color:#666;
    opacity: 1;
}
.input-group .form-control.main-search::-moz-placeholder {
    color:#666;
    opacity: 1;
}
.input-group .form-control.main-search::-ms-input-placeholder {
    color:#666;
}

.search-leema .btn {
    border-radius: 0px;
    padding: 10px;
}

#welcome {
    padding: 30px 0;
}

#welcome h1 {
    font-size: 30px;
}

#welcome p.lead {
    font-size: 18px;
}

@media (min-width: 990px) {
    .input-group .form-control.main-search {
        font-size: 70px;
        height: 110px;
        line-height: 90px;
        margin:0px;
        padding-top: 25px;
    }

    .search-leema .btn {
        border-radius: 0px;
        height: 110px;
        padding: 10px 30px;
    }

    #welcome {
        padding: 60px 0;
    }

    #welcome h1 {
        font-size: 55px;
    }

    #welcome p.lead {
        font-size: 30px;
    }
}


@media screen and (min-width: 768px) and (max-width: 989px) {
	.masthead {
		padding: 80px 0;
	}

    .input-group .form-control.main-search {
        font-size: 50px;
        height: 90px;
        line-height: 70px;
        margin:0px;
        padding-top: 25px;
    }

    .search-leema .btn {
        border-radius: 0px;
        height: 90px;
        padding: 10px 20px;
    }
    #welcome {
        padding: 60px 0;
    }

    #welcome h1 {
        font-size: 55px;
    }

    #welcome p.lead {
        font-size: 30px;
    }
}


#welcome-product-grid .welcome-product {
    padding: 0px;
    margin: 0px;
    position: relative;
}

#welcome-product-grid .welcome-product a{
    display: block;
}

#welcome-product-grid .welcome-product:hover img {
    opacity: .4;
    -webkit-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in;
}

#welcome-product-grid .welcome-product img {
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 9
}

#welcome-product-grid .welcome-product .seller-info{
    position: absolute;
    text-align: left;
    top: 20px;
    left: 20px;
    z-index: 10;
    opacity: 0;
    color: #333;
}

#welcome-product-grid .welcome-product .seller-info h3 {
    font-size: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

#welcome-product-grid .welcome-product:hover .seller-info {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in;
}

