<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Let Everyone Taste Your Passion</h1>
				<a href="#" class="btn btn-lg btn-primary">Sell With Leema</a>
			</div><!-- close .col-xs-12 -->
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>
