<section class="masthead sell" id="content" role="main">
  <div class="container">
		<div class="row">
			 <div class="col-xs-12 intro">
				<h1>Let Everyone Taste Your Passion</h1>
				<a href="/store/admin/suppliers/new" class="btn btn-lg btn-primary">Sell With Leema</a>
		  </div>
		</div>
  </div><!-- /.container -->
</section><!-- /.masthead -->
<section>
	<div class="container">
		<h2 class="text-center">Why Sell On Leema?</h2>
		<div class="row icon-blurb">
			<div class="icon">
				<%= image_tag "yourstore-icon.png", class: 'img-responsive center-block' %>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>Your Own Store</h3>
				<p>Ever dream about having your own store? Now you’ve got one! Leema gives you a fully customizable online storefront that will allow you to promote your brand. With just a few clicks, your store will be open for business!</p>
			</div>
		</div><!-- close .row -->
		<div class="row icon-blurb">
			<div class="icon">
				<%= image_tag "clock-icon.png", class: 'img-responsive center-block' %>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>It Only Takes Minutes</h3>
				<p>Fill out some information, add a few pictures, and you’re ready to go! Once your store is created there is no upkeep required just get back to making the things you love and let us handle the rest.</p>
			</div>
		</div><!-- close .row -->
		<div class="row icon-blurb">
			<div class="icon">
				<%= image_tag "discovery-icon.png", class: 'img-responsive center-block' %>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>Discovery Made Easy</h3>
				<p>Leema gives direct access to people specifically looking to eat up the unique creations that our Culinary Artists create. This access ensures that you are targeting the right demographic and optimizing the potential of your store.</p>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center">Pricing</h2>
				<div class="pricing-box">
					<div class="pricing-percent">
						10%
						<div class="per-trans">Per Transaction</div>
					</div><!-- close .pricing-percent -->
				</div><!-- close .pricing-box -->
			</div><!-- close .col-xs-12 -->
			<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<p class="text-center">
					<strong>10% per online purchase - that's it.</strong>
				</p>
				<p class="text-center">Open your store and list your products on Leema...for FREE. Once you sell an item (mazel tov!), we take 10% of the item price, not including tax or shipping. We also cover the credit card transaction fee. It's simple, we get paid, when you get paid.</p>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>


<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<a href="/store/admin/suppliers/new" class="btn btn-lg btn-primary">Sell With Leema</a>
			</div>
		</div>
	</div>
</section>
