<section class="masthead sell" id="content" role="main">
  <div class="container">
		<div class="row">
			 <div class="col-xs-12 intro">
				<h1>Let Everyone Taste Your Passion</h1>
				<a href="#" class="btn btn-lg btn-primary">Sell With Leema</a>
		  </div>
		</div>
  </div><!-- /.container -->
</section><!-- /.masthead -->
<section>
	<div class="container">
		<div class="row">
			<h2 class="text-center">What can you sell on Leema?</h2>
			<div class="col-sm-6 col-sm-offset-3">
				<h3><span class="check"><i class="fa fa-check-circle-o"></i></span> Can it be shipped or delivered?</h3>
				<h3><span class="check"><i class="fa fa-check-circle-o"></i></span> Is your product edible?</h3>
				<h3><span class="check"><i class="fa fa-check-circle-o"></i></span> Is your product your passion?</h3>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row icon-blurb">
			<div class="icon">
				<i class="fa fa-money"></i>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>Free to Use</h3>
				<p>Open your store and list your products on Leema...for FREE. Once you sell an item (mazel tov!), we take 10% of the item price, not including tax or shipping. We get paid, when you get paid. It’s that simple.</p>
			</div>
		</div><!-- close .row -->
		<div class="row icon-blurb">
			<div class="blurb">
				<h3>It Only Takes Minutes</h3>
				<p>Fill out some information, add a few pictures, and you’re ready to go! Once your store is created there is no upkeep required just get back to making the things you love and let us handle the rest.</p>
			</div>
			<div class="icon">
				<i class="fa fa-clock-o"></i>
			</div><!-- close .col-sm-3 -->
		</div><!-- close .row -->
		<div class="row icon-blurb">
			<div class="icon">
				<i class="fa fa-compass"></i>
			</div><!-- close .col-sm-3 -->
			<div class="blurb">
				<h3>Discovery Made Easy</h3>
				<p>Leema gives direct access to people specifically looking to eat up the unique creations that our Culinary Artists create. This access ensures that you are targeting the right demographic and optimizing the potential of your store.</p>
			</div>
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center">Pricing</h2>
				<div class="pricing-box">
					<div class="pricing-percent">
						10%
						<div class="per-trans">Per Transaction</div>
					</div><!-- close .pricing-percent -->
				</div><!-- close .pricing-box -->
				<p class="text-center">
					<strong>10% per online purchase - that's it.</strong>
				</p>
				<p class="text-center">Open your store and list your products on Leema...for FREE. Once you sell an item (mazel tov!), we take 10% of the item price, not including tax or shipping. We get paid, when you get paid. It’s that simple.</p>
			</div><!-- close .col-xs-12 -->
		</div><!-- close .row -->
	</div><!-- close .container -->
</section>


<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<a href="#" class="btn btn-lg btn-primary">Sell With Leema</a>
			</div>
		</div>
	</div>
</section>
