<footer>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
           <ul class="list-inline social text-center">
            <li><a href="https://www.facebook.com/pages/Leema/1505609129699476" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://instagram.com/leemaeats" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/leemaeats" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC7UjjURDMJgkWiMWKeqE10w?guided_help_flow=3" target="_blank"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div><!-- close .col-xs-12 -->
      </div><!-- close .row -->
    </div><!-- close .container -->
  </div><!-- close .top -->
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <a href="/"><%= image_tag "footer-logo-horizontal.png", class: 'img-responsive footer-logo' %></a>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h5>Need Help?</h5>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled footer-links">
                <li><a href="#">Guidelines</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="http://blog.leema.co" target="_blank">Blog</a></li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled footer-links">
                <li><a href="mailto:leemaeats@gmail.com?subject=Yo+Leema%21&body=Tell+us+what%27s+on+your+mind">Email Us A Question</a></li>
                <li><a href="mailto:leemaeats@gmail.com?subject=Feedback+Yo%21&body=Tell+us+what%27s+on+your+mind">Give Us Feedback</a></li>
              </ul>
            </div>
          </div><!-- close .row -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 newsletter">
          <h5>Treat Your Inbox</h5>
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
               #mc_embed_signup form {
                padding: 10px 0;
               }
               #mc_embed_signup input.email{
                  margin: 0px;
                  padding: 6px 12px;
                  text-indent: 0px;
                  width: 100%;
               }

               #mc_embed_signup input {
                border:none;
               }
          </style>
          <div id="mc_embed_signup">
          <form action="//leema.us9.list-manage.com/subscribe/post?u=fe76382460426af73d53fa5ed&amp;id=23cdff1ccd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="input-group">
                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Email Address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_fe76382460426af73d53fa5ed_23cdff1ccd" tabindex="-1" value=""></div>
                <span class="input-group-btn">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                </span>
              </div><!-- /input-group -->

          </form>
          </div><!--End mc_embed_signup-->
        </div><!-- close .col-sm-3 -->
      </div><!--/row-->
    </div> <!-- /container -->
  </div><!-- close .bottom -->
  <div class="very-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 become-a-seller">
          <a href="/sell/" class="btn btn-primary">Become a Seller</a>
        </div><!-- close .col-sm-6 -->
        <div class="col-sm-6 legal">
          <ul class="list-inline footer-links">
            <li>&copy; Leema <%= Time.now.year %></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div><!-- close .col-sm-6 -->
      </div><!-- close .row -->
    </div><!-- close .container -->
  </div><!-- close .top -->
</footer>
