<footer>
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
           <ul class="list-inline social text-center">
            <li><a href="https://www.facebook.com/pages/Leema/1505609129699476" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://instagram.com/leemaeats" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/leemaeats" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC7UjjURDMJgkWiMWKeqE10w?guided_help_flow=3" target="_blank"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div><!-- close .col-xs-12 -->
      </div><!-- close .row -->
    </div><!-- close .container -->
  </div><!-- close .top -->
  <div class="bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12 copyright">
          <p>&copy; Leema <%= Time.now.year %></p>
        </div>
        <div class="col-sm-8 col-xs-12">
          <ul class="list-inline footer-links">
            <li><a href="#">Terms of Service</a></li>
            <li><a href="mailto:leemaeats@gmail.com?subject=Yo+Leema%21&body=Tell+us+what%27s+on+your+mind">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="/sell/" class="btn btn-primary">Become a Seller</a></li>
          </ul>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
  </div><!-- close .bottom -->
</footer>
