<section class="masthead" id="content" role="main">
  <div class="container">
    <div class="row search-leema abs-center">
	  <div class="col-xs-12">
	    <div class="input-group">
	      <input type="text" class="form-control input-lg main-search" placeholder="What are you looking for?">
	      <span class="input-group-btn">
	        <button class="btn btn-primary btn-lg" type="button"><i class="fa fa-search"></i></button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.masthead -->

<section id="welcome">
	<div class="container">
		<div class="row">
			<h1 class="text-center">Welcome to <span class="logo">Leema</span></h1>
			<p class="text-center lead">Expore the most popular treats on the market</p>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<section id="welcome-product-grid">
	<% @products.first(3).each do |product| %>
		<div class="col-sm-4 col-xs-6 welcome-product">
			<!--TODO: The links to the products are not routing to the /products part of the path where Spree is mounted. I'll have to work on that -->
			<%= link_to image_tag(product.images.first.attachment.url(:large)), controller: 'products', action: 'show', id: product %>
			<a href="#">
				<div class="seller-info">
					<h3 class="seller-name"><%= product.name %></h3>
					<p class="product-descr"><%= product.description %></p>
				</div>
			</a>
		</div>
	<% end %>
</section><!-- /#welcome-product-grid -->
