<% if spree_current_user %>
  <li>
    <%= link_to Spree.t(:logout), spree_logout_path, :method => :delete %>
  </li>
<% else %>
  <li>
    <%= link_to Spree.t(:signin), spree_login_path %>
  </li>
  <li>
    <%= link_to Spree.t(:register), spree_signup_path %>
  </li>
<% end %>