@font-face {
    font-family: 'lavanderia_delicate';
    src: font-url('lavanderia_delicate-webfont.eot');
    src: font-url('lavanderia_delicate-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('lavanderia_delicate-webfont.woff2') format('woff2'),
         font-url('lavanderia_delicate-webfont.woff') format('woff'),
         font-url('lavanderia_delicate-webfont.ttf') format('truetype'),
         font-url('lavanderia_delicate-webfont.svg#lavanderia_delicatedelicate') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia_sturdy';
    src: font-url('lavanderia_sturdy-webfont.eot');
    src: font-url('lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('lavanderia_sturdy-webfont.woff2') format('woff2'),
         font-url('lavanderia_sturdy-webfont.woff') format('woff'),
         font-url('lavanderia_sturdy-webfont.ttf') format('truetype'),
         font-url('lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia_regular';
    src: font-url('lavanderia_regular-webfont.eot');
    src: font-url('lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('lavanderia_regular-webfont.woff2') format('woff2'),
         font-url('lavanderia_regular-webfont.woff') format('woff'),
         font-url('lavanderia_regular-webfont.ttf') format('truetype'),
         font-url('lavanderia_regular-webfont.svg#lavanderia_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=ABeeZee);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
