/*---------------------------------------------------------
  Empty file to override variables in user applications.

  To set your own colors, sizes or fonts just override this
  file in your application and set variables according to
  globals/_variables.scss file.
  --------------------------------------------------------- */
$color-1:                        #FFFFFF !default;    // White
$color-2:                        #3F51B5 !default;    // Blueish
$color-3:                        #3a89ff !default;    // Light Blue
$color-4:                        #212121 !default;    // Dark Grey
$color-5:                        #C60F13 !default;    // Red
$color-6:                        #FF9300 !default;    // Yellow
$color-7:                        #3a89ff !default;    // Pink
$color-8:												 #676767 !default;    // Lightest Grey
$color-9:												 #555555 !default;    // Light Grey

$color-body-text:                $color-8 !default;
$color-headers:                  $color-9 !default;

$color-link:                     $color-4 !default;
$color-link-hover:               $color-7 !default;
$color-link-active:              $color-7 !default;
$color-link-focus:               $color-7 !default;
$color-link-visited:             $color-4 !default;



