/* Login/Registration Pages */

.signin .form {
	padding: 0px;
}

.signin:after {
	background-color: #fff;
}

@media (min-width: 768px) {
	.signin:after {
		content: "";
		background-image: image-url("login-bg-alt.jpg");
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: .5;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
	}

	.signin .form {
		padding: 50px 0;
	}

	.sign-in-reg {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%)
	}
}

.signin .navbar {
	background:#fff;
}


.sign-in-reg .well {
	background: #fff;
}

.form-header.logo-inverse a{
	color:#fff;
}

.form-header.logo-inverse a:hover {
	color:#fff;
	text-decoration:none;
}

.form-header {
	position: relative;
	background: #3a89ff;
	padding: 20px 0 25px;

	text-align: center;
	font-size: 40px;
}

.form-header:after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -8px;
	border-left: 8px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(0, 0, 0, 0);
	border-top: 8px solid #3a89ff;
}

.signin-logo {
	width: 200px;
	display: inline-block;
	margin-right:5px;
	vertical-align: middle;
}