<header id="header" data-hook>
	<nav class="navbar navbar-default navbar-seller" role="navigation">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <div data-hook><%= link_to "Leema", spree.admin_path, class: 'navbar-brand' %></div>
	    </div>
	</nav>
</header>
